.skills-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list--skills {
    display: flex;
    opacity: 0;
    animation: slide-in-left 0.7s ease-in-out 0.8s forwards;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.list-item--skills {
    margin-right: 10px;
}

.list-item--skills:last-child {
    margin-right: 0px;
}

.img--skills {
    width: 60px;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #CCC;
}
