.skills-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list--skills {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.list-item--skills {
    opacity: 0.0;
    transform: translateX(-200px);
    /* transition: 0.1s 0.3s ease-in; */
    margin-right: 10px;
}
.list-item--skills:nth-child(1) {
    transition: 0.1s ease-in;
}
.list-item--skills:nth-child(2) {
    transition: 0.2s ease-in;
}
.list-item--skills:nth-child(3) {
    transition: 0.3s ease-in;
}
.list-item--skills:nth-child(4) {
    transition: 0.4s ease-in;
}
.list-item--skills:nth-child(5) {
    transition: 0.5s ease-in;
}
.list-item--skills:nth-child(6) {
    transition: 0.6s ease-in;
}
.list-item--skills:nth-child(7) {
    transition: 0.65s ease-in;
}
.list-item--skills:nth-child(8) {
    transition: 0.7s ease-in;
}
.list-item--skills:nth-child(9) {
    transition: 0.75s ease-in;
}
.list-item--skills:nth-child(10) {
    transition: 0.8s ease-in;
}
.list-item--skills:nth-child(11) {
    transition: 0.85s ease-in;
}
.list-item--skills:nth-child(12) {
    transition: 0.9s ease-in;
}
.list-item--skills:last-child {
    margin-right: 0px;
}

.show-skill {
    opacity: 1;
    transform: translateX(0);
}

.img--skills {
    width: 60px;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #CCC;
}
