.profile-menu {
    position: fixed;
    top: 170px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #999;
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
}

.profile-menu a {
    text-decoration: none;
    color: #FFF;
}

.profile-menu a:hover {
    cursor: pointer;
    color: #000;
}


.profile-contact-icons {
    display: flex;
    gap: 10px;
}

.profile-contact-icon-img {
    width: 50px;
    transition: transform 0.3s ease-out;
}

.profile-contact-icon-img:hover {
    transform: scale(1.2);
}

.angellist-icon {
    margin: 0px -7.5px;
}
