@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.list {
    list-style: none;
}


/* PROFILE BUTTON */
#mj-logo {
    width: 125px;
    position: fixed;
    top: 30px;
    right: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #555;
    z-index: 2;
}

#mj-logo:hover {
    cursor: pointer;
}

h2 {
    color: #555;
}
